body {
    color: #333333;
    font-family: Arial;
    max-width: 650px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    color: #888888;
    border-top: 2px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

.portrait {
    width: 250px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.main-content {
    flex-grow: 1;
}

.errorMsg{
    color: red;
}

.successMsg{
    color: green;
}

header {
    margin-bottom: 20;
}

header a {
    color: #888888;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    margin-right: 16px;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
}

button {
    cursor: pointer;
    color: white;
    background: #888888;
    border: 1px solid #888888;
    padding: 8px;
}